@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:wght@500&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Noto Sans", sans-serif;
}

*:focus {
  box-shadow: 0 0 5px 2px rgba(203, 203, 203, 0.5);
  outline: none;
}

body {
  padding: 0 0;
}
/* HEADER */
header {
  background-color: white;
  height: 80px;
  padding: 0 7%;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}
/* NAV-LEFT */
.nav-left {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 40px;
}

.nav-logo {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 12px;
  cursor: pointer;
}

#logo {
  background-image: url("./contents/logo.svg");
  height: 36px;
  width: 56px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

#title {
  background-image: url("./contents/title.svg");
  height: 26px;
  width: 120px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.nav-links {
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 32px;
}

.nav-links a {
  text-decoration: none;
  color: #60677f;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
  border: 2px solid transparent;
  transition: all 0.1s ease-in;
}

.nav-services,
.nav-more {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 8px;
}

.nav-links a:hover {
  border-bottom: 2px solid #60677f;
  transform: translate(0px, -2px);
}

.nav-links .active {
  color: #0f32b1;
  font-weight: 600;
  border: 2px solid transparent;
}

.nav-links .active:hover {
  border-bottom: 2px solid #0f32b1;
}

.nav-services button,
.nav-more button {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 8px;
  border: none;
  color: #60677f;
  font-weight: 500;
  font-size: 16px;
  background-color: white;
}

/* .services-dropdown {
  align-self: flex-end;
} */

/* .services-dropdown-content {
  background-color: white;
} */

/* .services-dropdown-content a {
  display: block;
} */

.nav-right {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 12px;
}

.nav-signin {
  background-color: #0f32b1;
  height: 48px;
  border-radius: 100px;
  padding: 10px 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  color: white;
  cursor: pointer;
  transition: all 0.1s ease-in;
  border: 2px solid transparent;
}

.nav-signin:hover {
  background-color: #fffffd;
  color: #143ed9;
  border: 2px solid #143ed9;
  font-weight: 600;
  transform: translate(0px, -2px);
}

.nav-download {
  height: 48px;
  padding: 10px 24px;
  border-radius: 100px;
  border: 1px solid #ff785a;
  cursor: pointer;
  transition: all 0.1s ease-in;
}

.nav-download:hover {
  background-color: rgb(223, 223, 223);
  transform: translate(0px, -2px);
}

.nav-download-content {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4px;
}

.mobile-menu {
  display: none;
  cursor: pointer;
}

.nav-download-content p {
  color: #ff785a;
}

.nav-download-content #plus-icon {
  background-image: url("./contents/Plus.svg");
  height: 24px;
  width: 24px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

/* .dropdown-menu {
  background-color: white;
  background: linear-gradient(
    to bottom,
    rgba(255, 255, 255, 1) 0%,
    rgba(246, 246, 246, 1) 47%,
    rgba(237, 237, 237, 1) 100%
  );
  width: 100vw;
  position: absolute;
  top: 80px;
  left: 0px;
  height: 200px;
  opacity: 0;
  visibility: hidden;
  z-index: 10;
  transition: all 0.1s ease;
}

.dropdown:hover + .dropdown-menu {
  opacity: 1;
  visibility: visible;
}

.dropdown-menu:hover {
  opacity: 1;
} */

.hero-section {
  background-image: url("./contents/hero-img.png");
  height: 420px;
  width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: left;
}

.hero-overlay {
  height: 100%;
  width: 100%;
  padding: 0 7%;
  background-color: rgba(0, 0, 0, 0.55);
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  gap: 24px;
  position: relative;
}

.hero-overlay h2 {
  color: white;
  font-size: 32px;
  text-align: center;
}

.hero-overlay p {
  color: white;
  padding-top: 24px;
  font-size: 16px;
  text-align: center;
}

.hero-search-wrapper {
  position: absolute;
  top: 104%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  padding: 0 7%;
}

.hero-search {
  background-color: white;
  height: 184px;
  width: 100%;
  padding: 24px;
  border-radius: 12px;
  box-shadow: 0px 2px 12px 0px rgba(176, 184, 211, 0.3),
    0px 2px 4px 0px rgba(172, 188, 245, 0.25);
}

.hero-search-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 21px;
  width: 100%;
}

.hero-search-top #search1 {
  background-color: white;
  border-top: 1px solid #d1d3dc;
  border-left: 1px solid #d1d3dc;
  border-right: 1px solid #d1d3dc;
  border-bottom: 1px solid #d1d3dc;
  border-radius: 100px;
  height: 56px;
  width: auto;
  flex-grow: 1;
  outline: #d1d3dc;
  padding-left: 30px;
}

#search1 {
  background-image: url("./contents/search.svg");
  background-position: 20px 15px;
  background-repeat: no-repeat;
  height: 24px;
  width: 24px;
  font-size: 16px;
  padding-left: 30px;
}

#search1:focus {
  background-image: none;
}

#search1:focus::placeholder {
  opacity: 0;
}

#search1::placeholder {
  padding-left: 20px;
}

#input-search-button {
  border: none;
  background-color: #0f32b1;
  height: 56px;
  width: 131px;
  padding: 10px 24px;
  border-radius: 100px;
  color: white;
  font-weight: 500;
  font-size: 16px;
  transition: all 0.1s ease-in;
}

#input-search-button:hover {
  background-color: #fffffd;
  color: #143ed9;
  border: 2px solid #143ed9;
  font-weight: 600;
  transform: translate(0px, -3px);
}

.hero-search-bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin-top: 24px;
  gap: 18px;
  cursor: pointer;
}

.hero-search-bottom > select {
  height: 48px;
  width: 191px;
  border: 1px solid #d1d3dc;
  border-radius: 8px;
  font-weight: 400;
  padding: 14px;
  flex-grow: 1;
}

.hero-search-bottom > select option {
  background-color: white;
}

.hero-search-bottom > select option:hover {
  background-color: #143ed9;
  transform: translate(0px, -5px);
}

.hero-search-bottom > select:hover {
  box-shadow: 0px 0px 10px 5px rgba(227, 227, 227, 1);
}

.mobile-filter {
  display: none;
}

#mobile-filter-p {
  color: black;
  font-size: 14px;
  display: inline;
  padding: 0;
}

/* sort section */

.search-filter {
  margin-top: 150px;
  padding: 0 7%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.search-filter select {
  height: 40px;
  width: 177px;
  padding: 5px;
  border: 1px solid #d1d3dc;
  border-radius: 8px;
}

#filter-left1 {
  color: #60677f;
}

#filter-left2 {
  font-size: 18px;
  font-weight: 600;
  color: #2c2f3a;
}

.filter-right {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 14px;
}

.section-divider {
  margin: 32px 7%;
}

.search-result {
  padding: 0 7%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  gap: 32px;
}

.box {
  height: 284px;
  width: 384px;
  border-radius: 12px;
  box-shadow: 0px 2px 12px 0px rgba(176, 184, 211, 0.3),
    0px 2px 4px 0px rgba(172, 188, 245, 0.25);
}
.box-hr {
  width: 100%;
}

.box {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-start;
  flex-grow: 1;
  padding: 16px 0px 32px 0px;
  transition: all 0.1s ease;
  cursor: pointer;
}

.box:hover {
  box-shadow: 0px 0px 10px 5px rgba(227, 227, 227, 1);
  transform: translate(0px, -2px);
}

.box-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 0 16px;
}

.box-bottom {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-start;
  gap: 20px;
  padding: 0 16px;
}

.box-bottom-bottom {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 32px;
}

.college-logo {
  height: 72px;
  width: 72px;
  border-radius: 50%;
  border: 2px solid #d1d3dc;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

.college-title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 4px;
}

.college-name {
  color: #2c2f3a;
  font-weight: 600;
}

.college-location {
  color: #60677f;
  font-weight: 400;
}

.box-top-left {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 12px;
}

.container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.container {
  display: block;
  position: relative;
  cursor: pointer;
  font-size: 12px;
  user-select: none;
  transition: 100ms;
}

.checkmark {
  top: 0;
  left: 0;
  height: 2em;
  width: 2em;
  transition: 100ms;
  animation: dislike_effect 400ms ease;
}

.container input:checked ~ .checkmark path {
  fill: #ff5353;
  stroke-width: 0;
}

.container input:checked ~ .checkmark {
  animation: like_effect 400ms ease;
}

.container:hover {
  transform: scale(1.1);
}

@keyframes like_effect {
  0% {
    transform: scale(0);
  }

  50% {
    transform: scale(1.2);
  }

  100% {
    transform: scale(1);
  }
}

@keyframes dislike_effect {
  0% {
    transform: scale(0);
  }

  50% {
    transform: scale(1.2);
  }

  100% {
    transform: scale(1);
  }
}

.box-top-right {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  height: 100%;
}

.small-text {
  font-size: 14px;
  font-weight: 400;
  color: #60677f;
}

.big-text {
  font-size: 14px;
  font-weight: 600;
  color: #2c2f3a;
}

.logo1 {
  background-image: url("./contents/university-logos/Melbourne.svg");
}
.logo2 {
  background-image: url("./contents/university-logos/central-queensland.svg");
}
.logo3 {
  background-image: url("./contents/university-logos/swinburn.svg");
}
.logo4 {
  background-image: url("./contents/university-logos/central-queensland.svg");
}
.logo5 {
  background-image: url("./contents/university-logos/griffith.svg");
}
.logo6 {
  background-image: url("./contents/university-logos/griffith.svg");
}
.logo7 {
  background-image: url("./contents/university-logos/Melbourne.svg");
}
.logo8 {
  background-image: url("./contents/university-logos/central-queensland.svg");
}
.logo9 {
  background-image: url("./contents/university-logos/swinburn.svg");
}
.logo10 {
  background-image: url("./contents/university-logos/southern-queensland.svg");
}
.logo11 {
  background-image: url("./contents/university-logos/sunshine-cost.svg");
}
.logo12 {
  background-image: url("./contents/university-logos/griffith.svg");
}

.page-tabs {
  padding: 0 7%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 40px 0 80px 0;
}

.page-tabs-left > p {
  font-weight: 400;
  color: #2c2f3a;
}

.page-tabs-right {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 24px;
  cursor: pointer;
}

.page-tabs-right > p {
  font-weight: 400;
  color: #2c2f3a;
  border: 2px soliid transparent;
  transition: all 0.1s ease-in;
}

.page-tabs-right > p:hover {
  border-bottom: 2px solid #2c2f3a;
}

.page-tabs-right > .active {
  height: 32px;
  width: 32px;
  background-color: #0f32b1;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}

.page-tabs-right > a {
  text-decoration: none;
  font-weight: 600;
  color: #0f32b1;
  border: 2px solid transparent;
  transition: all 0.1s ease-in;
}

.page-tabs-right > a:hover {
  border-bottom: 2px solid #0f32b1;
}

footer {
  background-color: #061447;
  padding: 64px 7% 0 7%;
  color: white;
}

.foot-top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 0 48px 0;
}

.contact > img {
  height: 24px;
  width: 24px;
}

.foot-logo {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 12px;
  margin-bottom: 32px;
  cursor: pointer;
  border: 2px solid transparent;
}

.foot-top-left {
  width: 320px;
  font-weight: 400;
  color: #d1d3dc;
}

.foot-top-right {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 80px;
  color: white;
  font-weight: 600;
}

.foot-bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 48px 0 48px 0;
  font-weight: 400;
  color: #d1d3dc;
}

.foot-bottom-right {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 24px;
  cursor: pointer;
}

.foot-logo > #logo2 {
  background-image: url("./contents/foot-logo.svg");
  height: 31px;
  width: 56px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.foot-logo > #title2 {
  background-image: url("./contents/foot-title.svg");
  height: 26px;
  width: 120px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.foot-links {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 80px;
  font-weight: 400;
}

.foot-links-left,
.foot-links-right {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 8px;
  color: white;
}

.foot-links-left > a,
.foot-links-right > a {
  text-decoration: none;
  color: #d1d3dc;
  font-weight: 400;
  transition: all 0.1s ease-in;
  border: 2px solid transparent;
}

.foot-links-left > a:hover,
.foot-links-right > a:hover {
  transform: translate(5px, 0px);
  border-bottom: 2px solid white;
}

.foot-apps {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 16px;
  font-weight: 500;
}

.badges {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 16px;
  cursor: pointer;
}

.foot-bottom-right > img {
  cursor: pointer;
  border: 2px solid transparent;
  transition: all 0.1s ease-in;
}

.foot-bottom-right > img:hover {
  border-bottom: 2px solid white;
}
